NODE_ENV=production
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USERNAME=guest
DATABASE_PASSWORD=postgres
DATABASE_NAME=bbtesting
SECRET_KEY=
APP_EMAIL=
GMAIL_APP_PW=
POSTGRES_DB=bbtesting
POSTGRES_USER=guest
POSTGRES_PASSWORD=postgres
